<nav id="sidebar" class="adminNavbar bg-dark text-white sidebar position-fixed">
  <div class="">
    <div class="text-center">
      <img src="/images/panel.jpeg" class="rounded-circle img-fluid col-6" alt="Profil Fotoğrafı">
      <h5 class="mt-2">Admin</h5>
    </div>
  </div>
  <hr class="mt-3 mb-0">
  <ul class="nav flex-column mt-3">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/anasayfaedit"><i class="me-2 bi bi-app"></i> Anasayfa</a>
    </li>
    <hr class="my-2 mx-3 text-white">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/profiledit"><i class="me-2 bi bi-person-fill"></i> Profil Kartı</a>
    </li>
    <hr class="my-2 mx-3 text-white">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/hedefedit"><i class="me-2 bi bi-bar-chart-line"></i> Hedef Kartı</a>
    </li>
    <hr class="my-2 mx-3 text-white">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/linkedit"><i class="me-2 bi bi-link"></i> Link Kartı</a>
    </li>
    <hr class="my-2 mx-3 text-white">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/sertifika"><i class="me-2 bi bi-file-earmark"></i> Sertifika Ekle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/sertifikalist"><i class="me-2 bi bi-file-earmark-fill"></i> Sertifika Listesi</a>
    </li>
    <hr class="my-2 mx-3 text-white">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/repocreate"><i class="me-2 bi bi-sticky"></i> Repo Ekle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/repolist"><i class="me-2 bi bi-sticky-fill"></i> Repo Listesi</a>
    </li>
    <hr class="my-2 mx-3 text-white">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/hakkimdaedit"><i class="me-2 bi bi-person-vcard"></i> Hakkımda Sayfası</a>
    </li>
    <hr class="my-2 mx-3 text-white">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/admin/iletisimedit"><i class="me-2 bi bi-telephone-fill"></i> İletişim Barı</a>
    </li>
    <hr class="my-2 mt-5 text-white">
    <li class="nav-item">
      <a class="nav-link text-white ms-3" style="font-size: large;" href="/account/logout"><i class="me-2 bi bi-box-arrow-in-left"></i> Çıkış Yap</a>
    </li>
  </ul>
</nav>


