<section class="section1" tabindex="-1">
    <div class="links container-fluid">
      <input type="radio" name="slide" id="c1" checked>
      <label for="c1" class="card1">
        <div class="row1" style="margin-top: 60px;">
          <div class="icon1 icon2" style="background-color: #0039a6;"><i class="bi bi-github"></i></div>
          <div class="description">
            <h4>GitHub</h4>
            <p>GitHub projelerim için <a
                href="https://github.com/arslanberatt?tab=overview&from=2024-03-01&to=2024-03-30">Tıkla</a></p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="c3"><label for="c3" class="card1">
        <div class="row1">
          <div class="icon1 icon4" style="background-color: #0039a6;"><i class="bi bi-linkedin"></i></div>
          <div class="description">
            <h4>LinkedIn</h4>
            <p>Linkedin sayfam için <a href="https://www.linkedin.com/in/berat-arslan-75440bb6/">Tıkla</a></p>
          </div>
        </div>
      </label>
      <input type="radio" name="slide" id="c2">
      <label for="c2" class="card1">
        <div class="row1">
          <div class="icon1 icon3" style="background-color: #0039a6;"><i class="bi bi-youtube"></i></div>
          <div class="description">
            <h4>YouTube</h4>
            <p>YouTube kanalım için <a href="https://www.youtube.com/channel/UCd1jkAeAxVsA_zAK-jwE8Kw">Tıkla</a></p>
          </div>
        </div>
      </label>
    </div>
  </section>