<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="height: 80px;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.png" alt="log" style="width:50px;" class="rounded-pill">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#nContent"
        aria-controls="nContent" aria-label="menüyü açıp/kapatma butonu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="nLabel" id="nContent" style="width: 250px;">
        <!-- Offcanvas genişliği -->
        <div class="offcanvas-header">
          <h5 class="offcanvas-title ms-1" id="nLabel">Menüler</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="kapat"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto flex-grow-1">
            <li class="nav-item">
              <a class="nav-link" href="/">Anasayfa</a>
            </li>
            <li class="line"></li>
            <li class="nav-item">
              <a class="nav-link" href="/hakkimda">Hakkımda</a>
            </li>
            <li class="line"></li>
            <li class="nav-item flex-grow-1">
              <a class="nav-link" href="/projelerim">Projelerim</a>
            </li>
            <ul class="hackerLogo text-muted">
              <li class="nav-item me-5">
                <a class="nav-link" href="https://github.com/arslanberatt?tab=overview&from=2024-03-01&to=2024-03-30">GitHub</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/berat-arslan-75440bb6/">LinkedIn</a>
              </li>
              <li class="nav-item flex-grow-1">
                <a class="nav-link" href="https://www.youtube.com/channel/UCd1jkAeAxVsA_zAK-jwE8Kw">YouTube</a>
              </li>
            </ul>
            <li class="line2"></li>
            <li class="nav-item me-5">
              <a class="nav-link" href="#">İletişim</a>
            </li>
          </ul>
          
        </div>
      </div>
      <!--offcanvas-->
    </div>
  </nav>